@model Dictionary<string, List<HBPUI.Library.Models.CategoryModel>>
@{
    string category = (string)ViewData["Category"];

    ViewData["Title"] = $"View All { category }";
}

<div class="container">
    <div class="row align-items-md-stretch g-2 g-lg-3">
        @foreach (var basic in Model.Keys)
        {
            <div class="col-md-6">
                <div class="h-100 p-3 bg-light border rounded-3">
                    <h2>@basic</h2>
                    <div class="list-group">
                        @foreach (var subcategory in Model[basic])
                        {
                            <a  
                                asp-area=""
                                asp-controller="Browse"
                                asp-action="Categories"
                                asp-route-category="@category"
                                asp-route-subcategory="@basic"
                                asp-route-type="@subcategory.Title"
                                class="list-group-item list-group-item-action">@subcategory.Title
                            </a>  
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Breadcrumb {
    <li class="breadcrumb-item active">
        <a 
            asp-area="" 
            asp-controller="Browse" 
            asp-action="Category"
            asp-route-category="@category">@category
        </a>
    </li>
}